apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-producer
spec:
  replicas: {{ .Values.producer.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-producer
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-producer
    spec:
      containers:
      - name: {{ .Release.Name }}-producer
        image: {{ .Values.producer.container.image }}
        imagePullPolicy: Never
        ports:
        - containerPort: {{ .Values.producer.container.portPod }}