services:
  kafka:
    image: confluentinc/cp-kafka
    container_name: kafka
    ports:
      - 9092:9092
      - 9095:9095
    environment:
      KAFKA_PROCESS_ROLES: broker,controller                  #controller управляет метаданными кластера (топики, партиции, репликация); broker отвечает за хранение данных и обработку запросов клиентов
      KAFKA_NODE_ID: 1                                        #Уникальный идентификатор ноды в кластере
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093            #Список контроллеров для кворума; Формат: node_id@host:port
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9095          #На каких интерфейсах и портах слушает Kafka; для клиентов внутри кластера; для общения между контроллерами; для клиентов снаружи кластера
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:9095                         #какие адреса сообщаются клиентам; клиенты внутри кластера подключаются к kafka:9092; клиенты снаружи подключаются к localhost:9095
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT    #Сопоставляет listener names с протоколами безопасности; PLAINTEXT - без шифрования и аутентификации
      
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER     #Какой listener использовать для контроллера
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL      #Какой listener использовать для общения между брокерами

  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka_ui
    ports:
      - 8090:8080
    restart: always
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    depends_on:
      - kafka

  consumer:
    container_name: consumer
    build:
      context: .
      dockerfile: Dockerfile.Consumer
  
  producer:
    container_name: producer
    build:
      context: .
      dockerfile: Dockerfile.Producer
    ports:
      - 8080:8080
